.container{
  margin-top: 10px;
}
.card{
  margin: 0px;
}

.btn-primary {
  background-color: #66CCFF; 
  border-color: #66CCFF;
}


.modal-title {
  margin: 0 auto;
  text-align: center;
  background-color: #66CCFF;
}


#modalImage {
  display: block;
  margin: 0 auto;
  max-height: 300px; 
  max-width: 100%; 
}

.modal-body {
  background-color: #f7f7f7;
}

.modal-title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
